.footer{
    margin-top: 150px;
    padding: 0px 10%;
    width: 100%;
    height: 180px;

    a:hover{
        color: gray;

        .white{
            display: none;
        }

        .gray{
            display: inline;
        }
    }
}

.footer__line{
    @extend %line_horizontal;
}

.footer__info{
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
}

.footer__info__header{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.footer__info__categories{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__info__information{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__info__contactUs{
    display: flex;
    height: 100%;
    width: 17%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__info__contactUs__map{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__info__contactUs__call{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__info__contactUs__icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media(max-width: $breakpoint1400){
    .footer__info__header{
        font-size: 16px;
    }

    .footer__info{
        font-size: 14px;
    }

    .footer__info__contactUs{

        svg{
            height: 30px;
        }
    }
}

@media(max-width: $breakpoint1024){
    .footer{
        height: 150px;
        margin-top: 100px;
    }


    .footer__info__header{
        font-size: 14px;
        line-height: normal;
    }

    .footer__info{
        font-size: 12px;
        line-height: normal;
    }

    .footer__info__contactUs{

        svg{
            height: 20px;
            width: 25px;
        }
    }
}

@media(max-width: $breakpoint768){
    .footer{
        height: 120px;
        margin-top: 65px;
    }

    .footer__info{
        justify-content: center;
    }

    .footer__info__header{
        font-size: 16px;
    }

    .footer__info__categories{
        display: none;
    }

    .footer__info__information{
        display: none;
    }

    .footer__info__contactUs{
        width: 50%;
        font-size: 18px;

        svg{
            height: 25px;
            width: 30px
        }
    }
}

@media(max-width: $breakpoint480){
    .footer{
        height: 100px;
        margin-top: 50px;
    }

    .footer__info__header{
        font-size: 14px;
    }

    .footer__info__contactUs{
        width: 65%;
        font-size: 14px;

        svg{
            height: 20px;
            width: 25px
        }
    }
}