$breakpoint1400: 1400.98 + px;
$breakpoint1024: 1024.98 + px;
$breakpoint768: 768.98 + px;
$breakpoint480: 480.98 + px;

$biege: #CE9D9D;
$lightbiege: #FAE3E3;
$darkbiege: #9B7F7F;
$black: #fff;

%line_horizontal{
    width: 100%;
    height: 1px;
    background-color: $biege;
}

%line_horizontal_light{
    width: 100%;
    height: 1px;
    background-color: $lightbiege;
}

%line_vertical{
    width: 1px;
    height: 100%;
    background-color: $biege;
}

%line_vertical_light{
    width: 1px;
    height: 100%;
    background-color: $lightbiege;
}